<?xml version="1.0" encoding="utf-8" ?>
<RewriterConfig>
  <RewriterRule>
    <LookFor>~/index</LookFor>
    <SendTo>~/index.htm</SendTo>
  </RewriterRule>
	<RewriterRule>
		<LookFor>~/EN/DownLoad/(\d{4,12})_(\d{2,8})/(\d{1,5})/Default</LookFor>
		<SendTo><![CDATA[~/EN_DownLoadIntro.aspx?&Catalog=$2&id=$3]]></SendTo>
	</RewriterRule>
  <RewriterRule>
    <LookFor>~/BoardList_(\d{1,8})</LookFor>
    <SendTo><![CDATA[~/BoardList.aspx?BigClassID=$1]]></SendTo>E:\Code\WebChart\Chart\test.html
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/Board_(\d{1,8})</LookFor>
    <SendTo><![CDATA[~/Board.aspx?SmallClassID=$1]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/Topic_(\d{1,8})</LookFor>
    <SendTo><![CDATA[~/Topic.aspx?ID=$1]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/Post</LookFor>
    <SendTo><![CDATA[~/Post.aspx]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/Register</LookFor>
    <SendTo><![CDATA[~/Register.aspx]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/Login</LookFor>
    <SendTo><![CDATA[~/Login.aspx]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/Logout</LookFor>
    <SendTo><![CDATA[~/Logout.aspx]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/Seach([0-9]+)_([0-9]+)</LookFor>
    <SendTo><![CDATA[~/product_channel.aspx?dq=$1&hxlx=$2]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/helper([0-9]+)_([a-z]+)</LookFor>
    <SendTo><![CDATA[~/helper.aspx?id=$1&tp=$2]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/ourgoods</LookFor>
    <SendTo><![CDATA[~/ourgoods.aspx]]></SendTo>
  </RewriterRule>
<RewriterRule>
    <LookFor>~/Room([0-9]+)</LookFor>
    <SendTo><![CDATA[~/yangbanjian.aspx?showRoomId=$1]]></SendTo>
  </RewriterRule>
<RewriterRule>
    <LookFor>~/Confirm([0-9]+)</LookFor>
    <SendTo><![CDATA[~/yangbanjian_confirm.aspx?Id=$1]]></SendTo>
  </RewriterRule>
<RewriterRule>
    <LookFor>~/Products</LookFor>
    <SendTo><![CDATA[~/ProductsList.aspx]]></SendTo>
  </RewriterRule>
 <RewriterRule>
    <LookFor>~/ProductDetail([0-9]+)</LookFor>
    <SendTo><![CDATA[~/Products.aspx?PID=$1]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/UserCenter</LookFor>
    <SendTo><![CDATA[~/UserCenter.aspx]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/UserTopics</LookFor>
    <SendTo><![CDATA[~/UserTopics.aspx]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/UserPosts</LookFor>
    <SendTo><![CDATA[~/UserPosts.aspx]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/UserFavorates</LookFor>
    <SendTo><![CDATA[~/UserFavorates.aspx]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/UserInMails</LookFor>
    <SendTo><![CDATA[~/UserInMails.aspx]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/UserSendMail</LookFor>
    <SendTo><![CDATA[~/UserSendMail.aspx]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/UserOutMails</LookFor>
    <SendTo><![CDATA[~/UserOutMails.aspx]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/error</LookFor>
    <SendTo><![CDATA[~/error.aspx]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/ffsu(.*)</LookFor>
    <SendTo><![CDATA[~/PageParse.aspx?p=$1]]></SendTo>
  </RewriterRule>
</RewriterConfig>